/* About Me container: handles the overall section layout */
.about-container {
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding-bottom: 2rem;
}

/* About Me title: styles the title text */
.about-title {
  color: var(--blue-text-color);
  margin-bottom: 2rem;
  text-align: center;
  font-weight: bold;
}

/* About content: flexbox layout for the image and text */
.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: 0 auto;
}

/* Image styling: ensures the image is positioned and styled correctly */
.about-image {
  margin: 0 auto 1.5rem auto;
  width: 80%;
}

.about-image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0px 0px 20px rgba(185, 197, 233, 0.5);
  display: block;
}

/* Text block styling: adjusts the alignment and spacing of text */
.about-text {
  flex: 1;
  text-align: left;
  line-height: 1.6;
  text-align: justify;
}

.about-subtitle {
  color: var(--accent-color);
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
  text-align: center;
}

.about-first-subtitle {
  margin-top: 0;
}

.about-text p {
  /* font-size: 1.2rem; */
  line-height: 1.6;
}

/* Responsive design: adjusts layout for bigger screens */
@media (min-width: 768px) {
  .about-content {
    flex-direction: row;
    align-items: flex-start;
  }

  .about-image {
    flex: 0 0 30%;
    width: 100%;
  }

  .about-subtitle {
    text-align: left;
  }
}
