.contact-container {
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding-bottom: 2rem;
}

.form-control {
  background-color: transparent;
}

.form-control:hover,
.form-control:focus {
  box-shadow: 0px 0px 20px rgba(185, 197, 233, 0.5);
}

.form-control.is-invalid {
  border-color: red;
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
}

.form-control.is-valid {
  border-color: green;
  box-shadow: 0 0 5px rgba(0, 255, 0, 0.5);
}

.form-label {
  padding-left: 8px;
}

.input-container {
  position: relative;
  padding-bottom: 1.5rem;
}

.invalid-feedback {
  position: absolute;
  display: none;
  color: red;
}

.form-control.is-invalid ~ .invalid-feedback {
  display: block;
}

.contact-submit-btn {
  padding: 8px 36px;
  background-color: var(--accent-color);
  transition: var(--animation);
  font-size: 1.25rem;
  letter-spacing: 1px;
  border-radius: 12px;
}

.contact-submit-btn:hover,
.contact-submit-btn:focus {
  background-color: var(--hover-color);
}

.contact-link {
  color: var(--blue-text-color);
  font-weight: bold;
  transition: var(--animation);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}
