.my-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  backdrop-filter: blur(2.5rem);
  background-color: rgba(255, 253, 238, 0.4);
}

.logo-container {
  padding-left: 1.5rem;
}

.logo-img {
  width: 100px;
  height: 100px;
}

.navbar {
  padding: 1.5rem;
}

#navbarSupportedContent {
  position: fixed;
  top: 16%;
  left: 0;
  right: 0;
  z-index: 1050;
}

.navbar-nav {
  background-color: var(--light-background);
}

.my-nav-list {
  box-shadow: 0px 0px 20px rgba(143, 164, 229, 0.5);
}

.navbar-toggler {
  border: 2px solid var(--dark-background);
}

.navbar-toggler:hover,
.navbar-toggler:focus,
.navbar-toggler:focus-visible {
  border: 2px solid rgba(91, 129, 166, 0.7);
  outline: var(--hover-color);
  box-shadow: 0px 0px 20px rgba(185, 197, 233, 0.5);
}

.navbar-nav .nav-link.active {
  background-color: var(--dark-background);
  color: var(--light-background);
}

.nav-link:hover,
.nav-link:focus,
.nav-link:focus-visible {
  background-color: rgba(91, 129, 166, 0.7) !important;
  color: var(--white-text-color) !important;
  text-shadow: 2px 2px 4px rgba(78, 102, 176, 0.5);
}

.my-footer {
  background-color: var(--dark-background);
  color: var(--light-background);
}

.my-footer-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.instagram-link {
  transition: var(--animation);
}

.instagram-link:hover,
.instagram-link:focus,
.instagram-link:focus-visible {
  box-shadow: 0px 0px 20px rgba(185, 197, 233, 0.5);
}

.footer-right {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-right: 54px;
}

.footer-list {
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  list-style: none;
}

.footer-link {
  color: black;
  font-size: 1.25rem;
  transition: var(--animation);
}

.footer-link:hover,
.footer-link:focus,
.footer-link:focus-visible {
  color: var(--light-background);
  text-shadow: 2px 2px 4px rgba(194, 205, 238, 0.9);
}

@media only screen and (min-width: 768px) {
  .my-footer-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .footer-right {
    gap: 24px;
    align-items: flex-end;
  }

  .footer-right {
    padding-right: 84px;
  }

  .footer-list {
    flex-direction: row;
    gap: 8px;
  }

  .footer-list {
    gap: 36px;
  }
}

@media only screen and (min-width: 992px) {
  #navbarSupportedContent {
    position: relative;
  }

  .navbar-nav {
    background-color: transparent;
  }

  .footer-list {
    gap: 54px;
  }
}
