.home-header {
  background-color: transparent;
  backdrop-filter: blur(0);
}

.home-header.scrolled {
  backdrop-filter: blur(2.5rem);
  background-color: rgba(255, 253, 238, 0.4);
}

.home-toggler {
  border-color: var(--accent-color);
}

.home-main {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

/* banner section */

.arrow-container {
  position: relative;
  background-color: rgba(91, 129, 166, 0.9);
  background-image: url("../images/home/main-banner-ver.jpg");
  aspect-ratio: 9/ 16;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  width: 100%;
}

a {
  text-decoration: none;
}

.arrow-div {
  position: absolute;
  top: 40%;
  left: 44%;
  width: fit-content;
}

.arrow-image {
  display: block;
  width: 32px;
}

/* video section */

.home-videos-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Can be used to align blocks at the edges */
  position: relative;
  background-color: var(--white-text-color);
}

.background-video-we-offer {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.background-video-reviews {
  display: block; /* The video is visible by default */
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.background-video-contacts {
  display: block; /* The video is visible by default*/
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 1, 5, 0.7);
  z-index: 2;
  pointer-events: none;
}

.home-video {
  flex: 1;
  text-align: center;
  background-color: lightgray;
  border: black solid 1px;
  height: 300px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay-text {
  position: absolute;
  z-index: 3;
  color: var(--white-text-color);
  text-align: center;
  font-size: 2rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay-text ol {
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;
  line-height: 3;
}

.overlay-text ol li {
  left: 10px;
}

.see-more-link-text {
  font-size: 20px;
  color: var(--accent-color);
}

/* introduction section */
.introduction-section {
  overflow: hidden;
}
.introduction-container {
  position: relative;
  z-index: 1;
  /* overflow: hidden; */
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
  background-color: var(--light-background);
  padding: 2rem 0;
}

.introduction {
  border-radius: 12px;
  box-shadow: 0px 0px 20px rgba(185, 197, 233, 0.5);
  padding: 2rem;
}

.introduction h2 {
  font-weight: bold;
  margin-bottom: 1.5rem;
  text-align: center;
}

.introduction p {
  text-align: justify;
  font-size: 1.1rem;
}

.read-more,
.see-more {
  padding: 8px 36px;
  color: var(--main-text-color);
  background-color: var(--accent-color);
  transition: var(--animation);
  font-size: 1.25rem;
  letter-spacing: 1px;
  border-radius: 12px;
}

.read-more:hover,
.read-more:focus {
  background-color: var(--hover-color);
}

.read_more {
  width: 140px;
  height: 40px;
  color: black;
  border: 2px solid black;
  border-radius: 10px;
  display: flex; /*  flexbox */
  justify-content: center; /*Horizontal text alignment*/
  align-items: center;
  text-align: center;
  background-color: transparent;
  transition: var(--animation);
}

.read_more:hover {
  background-color: var(--accent-color);
  color: var(--white-text-color);
  cursor: pointer;
}

.slider-side-container {
  border-radius: 12px;
  box-shadow: 0px 0px 20px rgba(185, 197, 233, 0.5);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-container {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  max-width: 364px;
}

.slider-container h2 {
  font-weight: bold;
  margin-bottom: 0;
  text-align: center;
}

.slider {
  display: flex;
  width: 100%;
  transition: var(--animation);
}

.slide {
  flex: 0 0 100%;
  max-width: 100%;
  height: auto;
}

.slide img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  border: 1px solid rgba(91, 129, 166, 0.2);
  transition: opacity 0.5s ease-in-out;
}

.arrow {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  font-size: 2rem;
  color: var(--white-text-color);
  padding: 80px;
  cursor: pointer;
  z-index: 10;
}

.arrow.left {
  padding-left: 0;
  left: 0px;
}

.arrow.right {
  padding-right: 0;
  right: 0px;
}

.arrow img {
  width: 28px;
}

@media only screen and (min-width: 364px) {
  .arrow-div {
    left: 42%;
  }

  .arrow-image {
    width: 48px;
  }
  .slider {
    width: 364px;
    height: 426px;
  }

  .slide img {
    width: 364px;
    height: 426px;
  }
}

@media only screen and (min-width: 768px) {
  .arrow-image {
    width: 64px;
  }
  .home-videos-block {
    flex-direction: row;
  }

  .background-video-we-offer {
    height: 300px;
  }

  .background-video-reviews {
    height: 300px;
  }

  .background-video-contacts {
    height: 300px;
  }

  .arrow-container {
    background-image: url("../images/home/main-banner-hor.jpg");
    aspect-ratio: 16/ 9;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    width: 100%;
  }

  .arrow-div {
    position: absolute;
    top: 74%;
    left: 24%;
    width: fit-content;
  }
}

@media only screen and (min-width: 992px) {
  .introduction-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem;
  }
}
